In [1]:
import requests

In [2]:
text = '{"0":"nckjd cbkxc fdvbfjv dfhvbkdv dkvbdv dbvkdfv dfvbkdfjv fvbdfjkv dfkvbkdfj vjk"}'
# text = 'dsgd jhdsfvbcsdhbjh dvjhdfjvh dfvhf'
r= requests.post('http://127.0.0.1:3231/pred', text)

In [3]:
r.text

'[{"Token":"nckjd","Tag":"o"},{"Token":"cbkxc","Tag":"o"},{"Token":"fdvbfjv","Tag":"o"},{"Token":"dfhvbkdv","Tag":"o"},{"Token":"dkvbdv","Tag":"o"},{"Token":"dbvkdfv","Tag":"o"},{"Token":"dfvbkdfjv","Tag":"o"},{"Token":"fvbdfjkv","Tag":"o"},{"Token":"dfkvbkdfj","Tag":"o"},{"Token":"vjk","Tag":"o"}]'

In [4]:
import pandas as pd

pd.read_json(r.text)

  Tag      Token
0   o      nckjd
1   o      cbkxc
2   o    fdvbfjv
3   o   dfhvbkdv
4   o     dkvbdv
5   o    dbvkdfv
6   o  dfvbkdfjv
7   o   fvbdfjkv
8   o  dfkvbkdfj
9   o        vjk

In [13]:
df = pd.read_csv('prediction.tsv', sep = '\t')

In [15]:
df.to_json()

'{"dsgd":{"0":"jhdsfvbcsdhbjh","1":"dvjhdfjvh","2":"dfvhf"},"o":{"0":"o","1":"o","2":"o"}}'

In [2]:
j= {'1':'dafadf'}

In [50]:
import json
j = json.dumps(j)

In [51]:
j

'{"1": "dafadf"}'

In [61]:
j =json.loads(j)

In [64]:
text = j['1']

In [67]:
file = open('sample.txt', 'w') 
file.write(str(text))  
file.close()